on post-fs
    mount none /sbin/chargeonlymode /sbin/charger bind
    mount none /system/lib/soundfx/libjamesdsp.so /vendor/lib/soundfx/libjamesdsp.so bind
    mount none /system/etc/audio_effects.xml /vendor/etc/audio_effects.xml bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /system/etc/media_codecs.xml /vendor/etc/media_codecs.xml bind
    mount none /system/lib64/soundfx/libvolumelistener.so /vendor/lib64/soundfx/libvolumelistener.so bind
    mount none /system/lib/soundfx/libvolumelistener.so /vendor/lib/soundfx/libvolumelistener.so bind
    mount none /system/lib64/hw/power.qcom.so /vendor/lib64/hw/power.qcom.so bind

on early-init
    mount none /system/lib/modules/audio_adsp_loader.ko /vendor/lib/modules/audio_adsp_loader.ko bind
    mount none /system/lib/modules/audio_apr.ko /vendor/lib/modules/audio_apr.ko bind
    mount none /system/lib/modules/audio_cs35l41.ko /vendor/lib/modules/audio_cs35l41.ko bind
    mount none /system/lib/modules/audio_hdmi.ko /vendor/lib/modules/audio_hdmi.ko bind
    mount none /system/lib/modules/audio_machine_msmnile.ko /vendor/lib/modules/audio_machine_msmnile.ko bind
    mount none /system/lib/modules/audio_mbhc.ko /vendor/lib/modules/audio_mbhc.ko bind
    mount none /system/lib/modules/audio_native.ko /vendor/lib/modules/audio_native.ko bind
    mount none /system/lib/modules/audio_pinctrl_wcd.ko /vendor/lib/modules/audio_pinctrl_wcd.ko bind
    mount none /system/lib/modules/audio_platform.ko /vendor/lib/modules/audio_platform.ko bind
    mount none /system/lib/modules/audio_q6.ko /vendor/lib/modules/audio_q6.ko bind
    mount none /system/lib/modules/audio_q6_notifier.ko /vendor/lib/modules/audio_q6_notifier.ko bind
    mount none /system/lib/modules/audio_q6_pdr.ko /vendor/lib/modules/audio_q6_pdr.ko bind
    mount none /system/lib/modules/audio_stub.ko /vendor/lib/modules/audio_stub.ko bind
    mount none /system/lib/modules/audio_swr_ctrl.ko /vendor/lib/modules/audio_swr_ctrl.ko bind
    mount none /system/lib/modules/audio_swr.ko /vendor/lib/modules/audio_swr.ko bind
    mount none /system/lib/modules/audio_tas2557.ko /vendor/lib/modules/audio_tas2557.ko bind
    mount none /system/lib/modules/audio_tfa98xx.ko /vendor/lib/modules/audio_tfa98xx.ko bind
    mount none /system/lib/modules/audio_usf.ko /vendor/lib/modules/audio_usf.ko bind
    mount none /system/lib/modules/audio_wcd934x.ko /vendor/lib/modules/audio_wcd934x.ko bind
    mount none /system/lib/modules/audio_wcd9360.ko /vendor/lib/modules/audio_wcd9360.ko bind
    mount none /system/lib/modules/audio_wcd9xxx.ko /vendor/lib/modules/audio_wcd9xxx.ko bind
    mount none /system/lib/modules/audio_wcd_core.ko /vendor/lib/modules/audio_wcd_core.ko bind
    mount none /system/lib/modules/audio_wcd_spi.ko /vendor/lib/modules/audio_wcd_spi.ko bind
    mount none /system/lib/modules/audio_wglink.ko /vendor/lib/modules/audio_wglink.ko bind
    mount none /system/lib/modules/audio_wsa881x.ko /vendor/lib/modules/audio_wsa881x.ko bind
    mount none /system/lib/modules/exfat.ko /vendor/lib/modules/exfat.ko bind
    mount none /system/lib/modules/modules.alias /vendor/lib/modules/modules.alias bind
    mount none /system/lib/modules/modules.dep /vendor/lib/modules/modules.dep bind
    mount none /system/lib/modules/mpq-adapter.ko /vendor/lib/modules/mpq-adapter.ko bind
    mount none /system/lib/modules/mpq-dmx-hw-plugin.ko /vendor/lib/modules/mpq-dmx-hw-plugin.ko bind
    mount none /system/lib/modules/qca_cld3_wlan.ko /vendor/lib/modules/qca_cld3_wlan.ko bind
    mount none /system/lib/modules/rmnet_perf.ko /vendor/lib/modules/rmnet_perf.ko bind
    mount none /system/lib/modules/rmnet_shs.ko /vendor/lib/modules/rmnet_shs.ko bind
    mount none /system/lib/modules/tspp.ko /vendor/lib/modules/tspp.ko bind

on init
    chown system system /dev/input/event4
    chmod 0664 /dev/input/event4

    # Boot time FS tune
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sdf/queue/iostats 0
    write /sys/block/sdf/queue/scheduler cfq
    write /sys/block/sdf/queue/iosched/slice_idle 0
    write /sys/block/sdf/queue/read_ahead_kb 2048
    write /sys/block/sdf/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/dm-2/queue/read_ahead_kb 2048

on late-fs
    # Boot time FS tune
    write /sys/block/dm-3/queue/read_ahead_kb 2048

service vendor.ss_ramdump_local /vendor/bin/subsystem_ramdump
    class late_start
    user system
    group system
    disabled

on property:init.svc.vendor.cnss_diag=running
    stop vendor.cnss_diag

on property:init.svc.vendor.ipacm-diag=running
    stop vendor.ipacm-diag

on property:persist.vendor.sys.ssr.enable_ramdumps=1
    start vendor.ss_ramdump_local

on property:persist.vendor.sys.ssr.enable_ramdumps=0
    stop vendor.ss_ramdump
    stop vendor.ss_ramdump_local

on property:sys.boot_completed=1
    stop vendor.ss_ramdump
    
    # Set idle GPU to 257 Mhz
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 5

    # Runtime FS tuning: as we have init boottime setting and kernel patch setting
    # default readahead to 2048KB. We should adjust the setting upon boot_complete
    # for runtime performance
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sdf/queue/read_ahead_kb 128
    write /sys/block/sdf/queue/nr_requests 128
    write /sys/block/sdf/queue/iostats 1
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128
	
